<div class="demo__container">
  <div class="header">
    <h1 class="header__title">Production ready, modern, fast and flexible editor</h1>
  </div>
  <div class="demo__controls">
    <div class="toolbar__selector">
      <div class="btn__group">
        <button
          class="btn__toggle"
          [class.active]="toolbar() === 'inline'"
          (click)="setToolbar('inline')"
        >
          Inline Toolbar
        </button>
        <button
          class="btn__toggle"
          [class.active]="toolbar() === 'default'"
          (click)="setToolbar('default')"
        >
          Top Toolbar
        </button>
      </div>
    </div>
  </div>

  <div class="demo__editor">
    <zap-editor
      #defaultEditor
      [toolbar]="toolbar()"
      [value]="editorValue()"
      [usersInput]="users()"
      (mentionSearch)="onMentionSearch($event)"
      (mediaUpload)="onMediaUpload($event)"
      (onChange)="onEditorChange($event)"
    >
    </zap-editor>
  </div>
</div>
